.answ{
    text-align: center;

}

#resultado{
    border: dotted ;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

form{
    margin-top: 10%;
    margin-left: 12%;
}

form input{
height: 40px;
    width: 200px;
}

input[type="button"]{

}
